<div class="color-bg" style="background: #00896C;">
  <div class="container">
    <div class="col-md-12">
      <h3>Get Involved</h3>

      <div class="asdf" style="display: flex">
        <div class="col-md-8" id = "paraonecontainer"style = "padding-bottom: 1em;">
          <p> 
            What&rsquo;s Happening is the best way to stay informed about family friendly events occurring in Columbus, Ohio. Each week a list of events tailored to your interests will be texted to your mobile device. These events will provide opportunities to interact with your community, meet new people, have fun and, most importantly, spend time with your family and friends. 
          </p>
        </div>

        <div class="col-md-4" style="order: -1; overflow: hidden; max-height: 400px; align-self: flex-end;">
          <%= image_tag "screenshot_1.png", class: "iphone" %>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="color-bg"  style="background: #59B6AF;">
  <div class="container" id = "parabelow">
    <div class="col-md-8">
      <h3>Your schedule, delivered</h3>

      <p>
        With hectic schedules, finding the time to search event lists, plan evenings and weekends, and get everything prepared and situated gets lost in the everyday shuffle. However so, spending time with the individuals most important to you is fundamental. So, let us help you in finding the events that you can attend as a family!
      </p>
    </div>
    <div class="col-md-4" style="order: -1; overflow: hidden; max-height: 400px; align-self: flex-end;">
      <%= image_tag "family.png", class: "family" %>
    </div>
  </div>
</div>

<div class="color-bg" style="background: #34495e;">
  <div class="container" id = "parabelow">
    <div class="col-md-4" style="order: -1; overflow: hidden; max-height: 400px; align-self: flex-end;" id = "knowledge">
    <%= image_tag "knowledge.png", class: "knowledge" %>
    </div>
          <h3>Knowledge is Power</h3>

    <div class="col-md-8" id = "paraonecontainer">

      <p>
        What&rsquo;s Happening intends to bridge the gap between the desire to
        have fun and the events and activities to do so. With a city filled
        with festivals, museums, sporting events, and other activities, staying
        in because you weren't aware of an event is no longer an
        excuse.<br><br>So, What's Happening? Subscribe to find out.
      </p>
    </div>

  </div>
</div>
