<div id="icons">
	<div id="facebook" class="logos">
		<a>
			<%= image_tag("facebook-logo", :alt => "facebook logo", :class => "logo") %>
		</a>
	</div>

	<div id="twitter" class="logos">
		<a>
			<%= image_tag("twitter-logo", :alt => "twitter logo", :class => "logo") %>
		</a> 
	</div>
</div>

<div class="wh_logo">
	<%= image_tag("facebook-logo", :alt => "twitter logo", :class => "footer_logo") %>
</div> 

<h2>What&rsquo;s Happening?</h2>
<p class="copyright"> &copy; 2015 What&rsquo;s Happening </p>