<div id="icons">
	<div id="facebook" class="logos">
		<%= image_tag("facebook-logo", :alt => "facebook logo", :class => "logo") %>
	</div>

	<div id="twitter" class="logos">
		<%= image_tag("twitter-logo", :alt => "twitter logo", :class => "logo") %>
	</div>
</div>

<div class="wh_logo">
    <%= image_tag("logo.png", :alt => "what's happening logo", :class => "footer_logo") %>
</div> 

<p class="copyright"> &copy; 2015 What&rsquo;s Happening </p>