<div class="container">
  <div class="col-md-12">

    <h1>What&rsquo;s Happening?</h1>

    <div class="input-group input-group-lg">
      <input type="text" class="form-control input-sm" placeholder="user@email.com">
      <span class="input-group-btn" style="width:0px;"></span>

      <input type="text" class="form-control input-sm" style="border-left: none;" placeholder="(614) 123-4567">

      <span class="input-group-btn">
        <button class="btn btn-default" type="button" style="border-left: none;">Subscribe</button>
      </span>
    </div>

  </div>
</div>

