<div class="container center-flex">
  <div class="col-md-12 text-center">
    <%= link_to root_path do %>
      <%= image_tag("nothappening.png", id: "logo") %>
    <% end %>
  <h2>Sorry, file not found.</h2>
  </div>
</div>
