@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";
@import "welcome";
@import "errors";

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'andika_basicregular';
	position: relative;
}