// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$turquoise: #1abc9c;

#header {
  background-image: -webkit-gradient(
    linear,
    right bottom,
    right top,
    color-stop(0, #1BDBB5),
    color-stop(1, $turquoise)
  );
  background-image: -o-linear-gradient(top, #1BDBB5 0%, #1ABC9C 100%);
  background-image: -moz-linear-gradient(top, #1BDBB5 0%, #1ABC9C 100%);
  background-image: -webkit-linear-gradient(top, #1BDBB5 0%, #1ABC9C 100%);
  background-image: -ms-linear-gradient(top, #1BDBB5 0%, #1ABC9C 100%);
  background-image: linear-gradient(to top, #1BDBB5 0%, #1ABC9C 100%);

  height: 400px;

  #logo {
    width: 100px;
    margin: 3em 0 0;
  }

  h2 {
    color: white;
    margin: 2em 0 1em;
  }

  input, button {
    border: none;
  }

  button {
    background: darken($turquoise, 5%);
    color: white;

    &:hover {
      background: darken($turquoise, 10%);
    }
  }
}

#content {
  .iphone {
    margin: 2em 0 0 -15px;
    width: 100%;
  }

  p {
    font-size: 16px;
    line-height: 1.8em;

    &:first-child {
      margin-top: 2em;
    }
  }
}

#footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 15%;
		background-color: #1BDBB5;

	#wrapper {
		min-height: 100%;
	}

	#icons {
		height: 100%;
	}

	.logos {
		float: left;
		height: 40px;
	}

	.logo {
		position: absolute;
		height: 40px;
		width: 40px;
		bottom: 0;
		margin-left: 10px;
	}

	.wh_logo {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
	}

	.footer_logo {
		position: absolute;
    	width: 100px;
		right: 50%;
		top: 20px;
	}

	#twitter {
		margin-left: 50px;
	}

	.copyright {
		position: absolute;
		color: white;
		bottom: 0;
		right: 5px;
	}

}
